body {
  background: silver;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #757E82;
}

#container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  width: 500px;
  background:#fff;
}

#header {
  background: blue;
  text-align: center;
  padding: 20px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#header h1 {
  font-size: 24px;
  margin: 0;
}
#header h2 {
  font-size: 20px;
  margin: 0;
}

#content {
  background: white;
  clear: left;
  padding: 20px;
}

#content h2 {
  color:#000;
  font-size: 160%;
  margin: 0 0 .5em;
}

li {
  padding: 18px;
}

a {
  color: #429;
  text-decoration: none;
}
textarea {
   resize: none;
}

table, th, td,tr {
  border: 1px solid black;
  border-collapse:collapse;
  padding: 4px;
}

#footer {
  color: white;
  background: blue;
  text-align: center;
  padding: 20px;
  margin: 0px;
  height: 1%;
}
